  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
}

body {
  margin: 1;
  font-family: Arial, sans-serif;
  overflow: auto;
}

/* Estilos CSS para o cabeçalho e os elementos */
header {
  display: flex;
  background: linear-gradient(70deg, rgb(255, 255, 255) 35%, rgba(2, 130, 242, 0.651) 60%);
  padding: 30px; /*tananho do cabeçalho*/
} 
.logo {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  margin-top: -26px;
}
.logo img {
  width: 90px;
  height: 90px;
  border: 2px solid black; /*borda do logo*/
  border-radius: 50%;/*deixa o logo redondo*/
}
.menu-icon {
    cursor: pointer; /* botao hamburguer*/
    font-size: 30px;
    width: 40px;
}
.menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 80px; 
}
.menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.menu a:hover {
    background-color: rgba(2, 130, 242, 0.651);
}
.center-content {
    text-align: center;
    flex: 1;
    margin-right: 20px;
}
.right-content {
    text-align: right;
}
.input-group {
  margin-right: 10px; /* Adiciona espaçamento horizontal entre os campos de entrada de texto */
  display: inline-block; /* Exibe os campos na mesma linha */
}

label {
  width: 8%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 15px;
}
/*cabecalho*/
.input-group input[type="text"],
.input-group input[type="date"],
.input-group select {
  width: 100%; 
  font-size: 13px; 
}
 /* Estilo para os botões */
button {
  background-color: #14134d;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

/* Estilo para o botão "Voltar" */
#btnVoltar {
  margin-right: -200px;
  background-color: #333;
}

/* Estilos para cabecalho*/
@media only screen and (max-width: 390px) {
  a {
    font-size: 17px;
 }
  .logo img {
    width: 80px;
    height: 80px;
    margin-top: 200%;
    margin-left: -75%;
  }
  .input-group { /* entrada de formulario de dados*/
    width: 80%;
    margin-bottom: 3px;
    font-size: 3px; 
  }
  .right-content { /*botão imprimir e salvar*/
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input {
    margin-top: 10px; /*Alinhamento entrada de texto formulario de dados*/
    font-size: 10px;
  }  
  .right-content{
    width: 50%;
    margin-top: 1%;
  }
}  
/*fim cabecalho*/


.date {   /* vigencia */
  text-align: center;
}


/*tabelas*/
.table-container {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 5px;
}
/* Estilos CSS para as células de dados */
td {
  border: 1px solid #ccc;
  padding: 5px;
}
.subtitle {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
.inner-table {
  border-collapse: collapse;
  width: 100%;
}
.inner-table td,
.inner-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
table input[type="time"] {
  width: 100%;
  box-sizing: border-box;
}





/* CSS para tornar todas as tabelas responsivas */
@media only screen and (max-width: 360px) {
  .table-container table {
    overflow-x: hidden;
    width: 100%;
  }
  .inner-table th,
  .inner-table td {
    display: block;
    width: 100%;
  }
  table {
    width: 100%;
  }
  .table-container thead {
    display: none;
  }

  .table-container tbody {
    display: inline;
  }

  .table-container tr {
    display: block;
    margin-bottom: 25px;
  }

  .table-container td {
    display: block;
    text-align: left;
  }

  .table-container td:before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: -30px; /* Ajuste conforme necessário para a largura da coluna */
  }
  
}


/*estilo roda pe*/
footer {
  background: linear-gradient(180deg, #ffffff 0%,#3498db 100%);
  color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #f2f2f2;
  text-align: center;
  font-size: 18px;
}

.logo2 {
  max-width: 100px;
  margin-right: 50px;
}




@media only screen and (max-width: 390px) {
 
  .logo img {
    width: 60px;
    height: 60px;
    margin-top: 225%;
    margin-left: -70%;
  }
  .input-group { /* entrada de formulario de dados*/
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px; 
  }
  .right-content { /*botão imprimir e salvar*/
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input {
    margin-top: 10px; /*Alinhamento entrada de texto formulario de dados*/
    font-size: 10px;
}  
.right-content{
  width: 85px;
  margin-top: 30%;
}
}
.tom{
  width: 5px; /* Ajuste a largura conforme necessário */
            height: 12px; /* Ajuste a altura conforme necessário */
            font-size: 12px; /* Ajuste o tamanho da fonte conforme necessário */
            padding: 8.5px; /* Ajuste o preenchimento conforme necessário */
            /* Adicione mais estilos conforme necessário */

}






















    
    
